@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300;500&display=swap");

@import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/modules/pagination/pagination.min.css";

@import "../node_modules/react-circular-progressbar/dist/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-dark;
}

* {
    @apply outline-main;
}

.swiper {
    width: 100%;
    height: 100%;
    overflow-y: visible;
}

.swiper-slide {
    @apply min-h-fit max-w-sm;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 15px;
    --swiper-pagination-bullet-height: 15px;
    --swiper-pagination-color: #e76f51;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #e76f51;
}
